@media only screen and (max-width : 1200px) {
	.container-photo {
    	max-width: 1000px;
    	padding: 41px 25px 0;
    }
	.item-child span {
		font-size: 16px;
		width: 140px;
   	 	height: 105px;
   	 	right: -65px;
	}
	.photo-left {
		padding-right: 65px;
	}
	.photo-right {
		padding: 65px 0 0 15px;
    	margin-right: 65px;
	}
	.photo-right .item-child:last-of-type {
    margin-left: -42px;
    }
    .container-card {
    	max-width: 1000px;
    	padding: 0 25px;
    }
}
@media only screen and (max-width : 992px) {
	.container-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #000;
		padding-bottom: 0;
		position: fixed;
		padding: 10px 15px;
	}
	.logo {
		display: none;
	}
	.logo_two {
		display: inline-block;
		text-align: center;
		max-width: 100%;
		height: auto;
	}
	.hamburger {
		display: inline-block;
	}
	#nav-icon1 {
		max-width: 36px;
	}
	.breadcrumbs {
		display: none;
	}
	.menu {
		display: none;
	}
	.contacts {
		display: none;
	}
	.basket {
		display: inline-block;
		padding-left: 0;
		width: auto;
	}
	.basket i {
		background-position: -2px -226px;
	}
	.basket span {
		color: #fff;
	}
	.item-child span {
	width: 140px;
    height: 105px;
    font-size: 16px;
	}
	.item-child span:after {
		height: 105px;
	}
	.order {
		width: 100%;
	}
	footer {
		flex-direction: column;
	    align-items: center;
	    display: flex;
	    margin-bottom: 15px;
	    padding-top: 20px;
	}
	.foot-one-menu ul {
		display: none;
	}
	.foot-one-menu {
		width: 167px;
		text-align: center;
	}
	.foot-one-menu img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
	.order {
		order: 1;
		text-align: center;
		padding-left: 0;
	}
	.foot-two-menu {
		order: 2;
		width: 505px;
		padding-left: 14%;
	}
	.foot-two-menu ul li {
		margin-bottom: 10px;
	}
	.container-form {
		margin: 0 auto;
	}
	.font-bold {
		font: 600 18px/22px 'Open Sans', sans-serif;
		list-style-type: none;
	}
	.font-bold li {
		margin-bottom: 10px;
	}
	.font-bold a {
		text-decoration: none;
		color: #000;
	}
	.social-links {
		margin: 30px 0 20px 0;
		font:300 16px/20px 'Open Sans', sans-serif;;
	}
	.nav-tabs {
		display: flex;
		justify-content: center;
		border-bottom: 0;
	}
	.nav-tabs li a {
		border: 0;
		border-right: 1px solid #000;
		margin-right: 0;
		padding: 0 15px;
	}
	.nav-tabs li:last-of-type a {
		border: 0;
	}
	.item-map {
		order: 1;
		width: 100%;
	}
	.item-form {
		order: 2;
		width: 100%;
	}
	.flex-cont {
		flex-direction: column;
		display: flex;
	}
	.contact-page h2 {
		padding-top: 62px;
	}
	.loc-phone-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.loc-phone-block a {
		margin-bottom: 9px;
	}
	.team-footer {
		margin-bottom: 0;
	}
	.detail-main {
		padding-top: 50px;
	}
	.staff-name {
		display: none;
	}
	.hidden-detail {
		display: block;
		text-align: center;
	}
	.detail-slider {
		flex-direction: column;
		display: flex;
		width: 100%;
	}
	.slider-nav {
		width: 100%;
		order: 2;
		margin: 0 auto;
		max-width: 450px;
	}
	.slider-for {
		width: 100%;
		order: 1;
		margin: 0 auto;
	}
	.detail-text {
		width: 100%;
		margin-bottom: 45px;
	}
	.slick-slider img {
		margin: 0 auto;
	}
	.catalog {
		padding-top: 50px;
	}
	.sidebar {
		display: none;
	}
	.product-list-holder {
		width: 100%;
	}
	.image-block {
		width: 50%;
	}
}
@media only screen and (max-width : 768px) {
	.container-photo h2 {
    	font: 600 24px/28px 'Open Sans', sans-serif;
    }
    .photo-both {
    	flex-wrap: wrap;
    }
    .photo-left {
    	width: 100%;
    }
    .photo-right {
    	width: 100%;
    }
    .photo-right .item-child:last-of-type {
    	margin-left: 0;
    }
    .slick-holder .slick-dots li.slick-active button:before {
    width: 100px;
	}
}
@media only screen and (max-width : 480px) {
	.foot-two-menu {
		width: 345px;
		padding-left: 4%;
	}
	.container-form {
		width: 280px;
	}
	.item-child span {
		width: 115px;
    	height: 85px;
    	font-size: 14px;
	}
	.form-order {
		width: 220px!important;
    	height: 42px!important;
	}
	.order button {
		width: 50px;
    	height: 42px;
	}
}
@media only screen and (max-width : 375px) {
.container-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
	}
	.logo {
		display: none;
		}
	.logo_two {
		display: inline-block;
	}
	.contacts {
		display: none;
	}
	.menu {
		display: none;
	}
	.hamburger {
		display: inline-block;
	}
	.photo-left {
		display: block;
		width: 100%;
	}
	.photo-right {
		display: block;
	}
	footer {
		flex-direction: column;
	    align-items: center;
	    display: flex;
	}
	.foot-one-menu {
		width: 167px;
	}
	.order {
		order: 1;
	}
	.foot-two-menu {
		order: 2;
		width: 320px;
    	padding-left: 8%;
    	font-size: 14px;
	}
}

















